body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 40px;
  background-image: linear-gradient(to bottom, blue, darkblue);
  position: relative;
}

nav {
  position: absolute;
  /* Posicionamento absoluto */
  bottom: 0;
  /* Alinhado à parte inferior */
  left: 0;
  /* Alinhado à esquerda */
  background-color: darkblue;
  color: white;
  padding: 10px;
}

nav > a {
  color: white;
  text-decoration: none;
  padding: 1px;
  font-weight: bolder;
}

nav > a:hover {
  background-color: white;
  color: darkblue;
  padding: 10px;
  border-radius: 7px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info h2 {
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
}

.contact-button {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #25d366;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.contact-button:hover {
  background-color: #128c7e;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  position: fixed;
}
