html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Remove a rolagem horizontal */
  width: 100%; /* Garante que o conteúdo não ultrapasse a largura da viewport */
}

.contact-button:hover {
  background-color: #128c7e;
}

.p {
  color: white;
  font-size: 15px;
}

.btnFooter {
  color: #001f7f; /* Altera a cor do texto ao passar o mouse */
  background: #fff; /* Fundo branco no hover */
  border-radius: 5px; /* Bordas arredondadas */
}

footer {
  background-image: linear-gradient(to top,darkblue, #5b5c61); /* Gradiente no fundo */
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

footer > a {
  color: white;
  margin: 10px;
  max-width: 200px;
  text-decoration: none;
  font-weight: bolder;
  text-decoration: none; /* Remove o sublinhado dos links */
  
}

hr {
  margin-bottom: 20px;
}
